    {% if site.copyright or site.email %}

      <footer data-animation="fadeInUp">
        <div class="copyright">
          {% if site.copyright %}<b>{{ site.copyright }}<br />
            <br /></b> Hosted with <span class="heart"></span> at <a href="https://gitlab.com/bytesapart/bytesapart.com">Gitlab</a>.<br />
            <br /></b> Powered by <a href="https://jekyllrb.com/">Jekyll</a>.
          {% endif %}

        	<br /><br /><hr>{% if site.email %}<a href="mailto:{{ site.email }}" title="Send E-Mail">Contact</a>{% endif %}
        	<a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="Subscribe to Feed" class="footer-meta">RSS</a>
        </div>
      </footer>

    {% endif %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-viewport-checker/1.8.8/jquery.viewportchecker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-viewport-checker/1.8.8/jquery.viewportchecker.min.js.map"></script>
    <script src="{{ '/assets/scripts.js' | prepend: site.baseurl }}"></script>

    {% include algolia.html %}

  </body>

</html>
